{% extends 'base_generica.html' %} 
{% load static %}

{% block content %} 
<h1>VivoBook :: Inicio</h1>
<p>Bienvenido a <em>VivoBook</em>, un sitio básico en Django para Desarrollo de Aplicación Web y Mobile</p>
<hr>
<h3>Contenido Dinamico</h3>
<p>Nuestra biblioteca tienes los siguientes recuentos de registros:</p>
<ul>
    <li><strong>Libros: </strong>{{numero_libros}}</li>
    <li><strong>Copias: </strong>{{numero_inventario}}</li>
    <li><strong>Copias Disponibles: </strong>{{numero_inventario_disponible}}</li>
    <li><strong>Autores: </strong>{{numero_autores}}</li>
</ul>
<p>Ha visitado esta página {{numero_visitas}}{% if numero_visitas == 1%} vez {% else %} veces {% endif %}</p>

<img src="{% static 'img/banner.png' %}" class="img-fluid">
{% endblock %}
